<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/jisna/IdeaProjects/PetStoreAutomation">
        <classes>
            <class name="api.test.UserTests">
                <methods>
                    <include name="testPostUser"/>
                    <include name="getUserByName"/>
                    <include name="UpdateUserByName"/>
                    <include name="testDeleteUserByName"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>